@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 90px;
    padding-top: 15px;
    //background-color: #EEF2EB;
    position: absolute;
    z-index: 999;
    
    img {
        width: 170px;
        display: flex;
        align-items: left;
        padding-left: 60px;
    }

    .navigation {
        width: 100%;
        display: flex;
        justify-content: right;
        padding-right: 60px;
        gap: 80px;
        
        .selected {
            background-color: #754B4F;
            color: white !important;
            border-radius: 10px;
            font-weight: 700;
        }
    
        a {
            color: white;
            font-size: 16px;
            font-weight: 700;
            cursor: pointer;
            padding: 2px 15px;
            
        }
    
        a:hover {
            color: #754B4F;
            border-radius: 10px;
        }
    }

    
}

.banner {
    //box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    background-color: #0D0C24;
    .banner-img {
        width: 100%;
        height: 100vh;
        background-image: url(./assets/banner.gif);
        background-repeat: no-repeat;
        background-size: cover;
        clip-path: polygon(40% 0, 100% 0, 100% 100%, 15% 100%);
        background-position: 0%;
    
        .shadow-home{
            width: 100%;
            height: 100%;
            background-color: rgb(0, 0, 0, 0.5); 
            position: absolute;
            top: 0;
    
        }
    }

    .title-banner {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 999;

    top: 28%;
    left: 5%;
    gap: 45px;

    img {
        width: 48%;
    }

    p {
        color: white;
        font-size: 16px;
        width: 40%;
        text-align: center;
        font-weight: 400;

    }
}

}

.test {
    width: 100%;
    height: 10px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 1;
    margin-top: -10px;    
}

.about-game {
    background-color: #0D0C24;
    height: 100vh;

    .details-circle-right {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: #754B4F;
        clip-path: circle(30% at 100% 0);
    }

    .datails-circle-left {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: #754B4F;
        clip-path: circle(30% at 5% 105%);
    }

    .about {
        display: flex;
        width: 100%;
        height: 100vh;
        align-items: center;

        .about-text {
            position: absolute;
            z-index: 999;
            width: 30%;
            color: white;
            display: flex;
            flex-direction: column;
            padding-left: 28%;

            h1 {
                font-size: 40px;
                letter-spacing: 5px;
                font-weight: 700;
                padding-bottom: 50px;
            }

            .description{
                width: 65%;
                font-weight: 400;
                line-height: 22px;
                padding-bottom: 20px;
            }

            .atention-text {
                width: 65%;
                font-size: 12px;
                line-height: 18px;
                font-style:italic;
            }
        }

        .about-img {
            width: 280px;
            position: absolute;
            left: 50%;
            top: 112%;
            border-radius: 30px;
        }
    }

    

    
}